
/*///////////////////////         GLOBAL STYLES        ///////////////////////*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

.slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    margin: 68px 0;
}

h2, h3 {
  color: #023d5f;
}

h4 {
  color: #bb954f;
}

sup {
    top: -0.4em;
}

a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  color: #023d5f;
}

/*buttons*/
.order-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #b25244;
  background: linear-gradient(#f7f2f6, #bb954f);
  color: white;
  font-size: 12px;
  transition: all 0.3s ease-out;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  z-index: -1;
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
}

.order-wide {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  background: #b25244;
  background: linear-gradient(#f7f2f6, #bb954f);
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-out;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  z-index: -1;
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
}

button:hover {
  background: #f7f2f6;
  background: radial-gradient(#f7f2f6, #bb954f);
  color: #023d5f;
}

button:active {
  background: #023d5f;
  background: radial-gradient(#f7f2f6, #023d5f);
  color: white;
}

[type="submit"] {
  display: table;
  margin: 0 auto;
}

/*//////////////////////////         HEADER        //////////////////////////*/
header {
  position: fixed;
  width: 100%;
  color: white;
  top: 0;
  display: inline-block;
  margin: 0 auto;
  z-index: 100;
}

.header-top {
  background: #023d5f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#023d5f, #7ad2e0, #023d5f); /* Standard syntax */
  min-height: 168px;
}

header img {
  float: left;
  margin-top: 28px;
}

#asot {
  position: absolute;
  width: 50px;
  top: 70px;
  left: 300px;
  transform: rotate(-20deg);
}

header h1 {
  text-align: center;
  text-shadow: -5px 5px 5px #444;
  padding: 50px 0;
  display: table-cell;
}

header button {
  float: right;
  margin: 75px 5% 0 0;
}

nav {
  background: #bb954f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#eddfa3, #bb954f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eddfa3, #bb954f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eddfa3, #bb954f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eddfa3, #bb954f); /* Standard syntax */
  text-align: center;
  float: right;
  width: 100%;
  box-shadow: 0 10px 10px #999;
}

nav ul {
  margin: 2px;
  padding: 5px 0;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 30px;
  font-size: 1.5em;;
}

/*///////////////////////           CONTAINER          ///////////////////////*/

.container {
  margin: 20% 10% 0 10%;
  position: relative;
  box-shadow: 0 0 70px #999;
  padding-top: 30px;
}

/*///////////////////////        SPECIAL OFFER         ///////////////////////*/
.special-offer {
  position: relative;
  text-align: center;
}

.left-price {
  float: left;
  padding: 30px;
  width: 50%;
  margin: 0;
}

#price {
  font-size: 3em;
  text-align: center;
  float: left;
}

#price::after {
  content: "  + S&H";
  font-size: .3em;
}

.price-order button {
  float: right;
}

.left-price img {
  height: 100px;
  margin: 0;
}

.mjolnir-apple {
  position: relative;
  width: 50%;
  margin: 0;
}

.mjolnir-apple img {
  position: absolute;
  width: 100%;
}

.text-apple {
  position: absolute;
  right: 70px;
  top: 30px;
  text-align: center;
  font-size: .9em;
  font-family: 'Source Sans Pro', sans-serif;
}

#bind {
  width: 100%;
  padding: 5px;
  text-align: center;
  background: #023d5f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#023d5f, #7ad2e0, #023d5f); /* Standard syntax */
  color: white;
  text-shadow: -5px 5px 5px #444;
}

/*///////////////////////            USES             ///////////////////////*/
.uses {
  position: relative;
}

.uses h2 {
  text-align: right;
  font-size: 2.5em;
  margin-right: 20px;
}

.uses img {
  width: 28%;
  margin: 2%;
  vertical-align: middle;
}

.uses ul {
  position: absolute;
  width: 30%;
  top: 35%;
  right: 0;
}

.uses li {
  margin-top: 5px;
  font-weight: 800;
}

.uses button {
  margin-top: 30px;
}

/*///////////////////////         SITUATIONS          ///////////////////////*/

.situations h1:first-child {
  text-align: center;
  color: #bb954f;
  font-size: 4em;
}

.situation {
  position: relative;
  width: 33%;
  padding: 2.5%;
  float: left;
  text-align: center;
}

.situation img {
  width: 100%;
}

.situation h1:last-child{
  margin: 4px 0;
  font-weight: 300;
  color: #023d5f;
}
/*///////////////////////            FORM             ///////////////////////*/
.breaker {
  text-align: center;
}

.breaker h1 {
  color: #bb954f;
  font-size: 3em;
  margin: 20px 0 0 0;
  letter-spacing: 1.2px;
}

.breaker h2 {
  margin: 0 0 20px 0;
}

.form-container {
  margin: 0% 10% 0 10%;
  width: 80%;
  position: relative;
  box-shadow: 0 0 70px #999;
  padding: 20px 2.5% 50px 2.5%;
}

form {
  width: 47.5%;
  float: left;
}

.form-container img {
  width: 47.5%;
  float: right;
}
/*///////////////////////            STEPS             ///////////////////////*/
.step {
  border: thin solid black;
  margin-bottom: 27px;
  box-shadow: 3px 3px 10px black;
  padding: 10px;
}

.form-header {
  background-color: #023d5f;
  color: white;
  margin: -10px -10px 10px -10px;
}

.form-header p {
  margin: 0;
  padding: 5px 10px;
}

.form-header p:first-of-type {
  font-weight: 900;
}

select {
  padding: 3px;
  border: thin solid black;
}

/*///////////////////////            TABLE             ///////////////////////*/
table {
  border-collapse: collapse;
  width: 100%;
}

th:not([colspan]) {
  text-align: left;
  color: white;
  background: #bb954f;
}

[colspan] {
  text-align: right;
}

th, td {
  border: thin solid #7ad2e0;
  padding: 4px 5px;
}

th:first-child {
  width: 70%;
}

th:nth-child(n+2) {
  width: 10%;
}

.form-control {
  display: block;
  text-align: center;
  margin-bottom: 4px;
}

label[for=address] {
  margin-left: 10px;
}

label[for=phone] {
  margin-left: 22px;
}

label[for=email] {
  margin-left: 30px;
}

input::placeholder {
  font-size: .9em;
  color: #555;
}

/*///////////////////////            BELOW             ///////////////////////*/
#req {
  font-style: italic;
  color: red;
  text-align: center;
  padding: 10px;
  border-top: 1px dotted #555;
  border-bottom: 1px dotted #555;
  font-size: .9em;
}

form p:nth-child(6) {
  font-size: .9em;
  text-align: center;
  margin: 20px 0;
}

#secured {
  width: 100px;
  float: none;
  display: block;
  margin: 0 auto 40px;
}

.details {
    padding: 15px;
    border: thin solid #ccc;
    font-size: .8em;
    width: 90%;
    margin: 0 5%;
}

.details h3{
  margin-top: 0;
  color: black;
}

footer {
  text-align: center;
  font-size: .6em;
  color: white;
  background: #023d5f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#023d5f, #7ad2e0, #023d5f); /* Standard syntax */
}

footer li {
  padding: 0 15px;
  border-right: 1px solid white;
}

footer li:last-child {
  border-right: none;
}

footer nav {
  background: inherit;
  margin-bottom: 25px;
  box-shadow: none;
}

footer p {
  margin-top: 0;
}

/*///////////////////////        MEDIA QUERIES         ///////////////////////*/
@media screen and (max-width: 1130px) {
  header h1 {
    padding: 20px 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0;
    width: 100%;
  }
  header {
    position: relative;
  }

  body {
    margin: 0;
    padding: 25px;
  }
  header button {
    display: none;
  }
  form {
    width: 100%;
  }

  .form-container img {
    display:none;
  }
}

@media screen and (max-width: 850px) {
  .text-apple {
    top: 300px;
  }
}

@media screen and (max-width: 660px) {
  .uses button {
    display:none
  }
  header h1{
    display: none;
  }
  header img {
    margin-left: 30px;
  }
  #asot {
    top: -20px;
    left: 290px;
  }
  .left-price {
    width: 100%;
  }
  .text-apple, .mjolnir-apple {
    display: none;
  }

  .container {
    padding-top: 50px;
  }

  .left-price h2 {
    margin:0;
  }
}

@media screen and (max-width: 673px) {
  .uses h2 {
    font-size: 35px;
    text-align: center;
    margin: 0;
  }
  .uses-content img {
    width: 100%;
  }
  .uses-content ul {
    width: 100%;
    position: relative;
  }
  .situations h1:first-child {
    margin: 0;
    font-size: 30px;
  }
  nav li {
    font-size: 20px;
  }
  .situations h1 {
    font-size: 20px;
  }
}
