
/*///////////////////////       GLOBAL STYLES      ///////////////////////*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.cf {
  content: "";
  display: table;
  clear: both;
}

body {

}

.slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
}

h2, h3 {
  color: #023d5f;
}

h4 {
  color: #bb954f;
}

/*//////////////////////////       HEADER      //////////////////////////*/
header {
  position: fixed;
  width: 100%;
  color: white;
  top: 0;
  display: inline-block;
  margin: 0 auto;
  z-index: 100;
}

.header-top {
  background: #023d5f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#023d5f, #7ad2e0, #023d5f); /* Standard syntax */
  min-height: 168px;
}

header img {
  float: left;
  margin-top: 28px;
}

#asot {
  position: absolute;
  width: 50px;
  top: 70px;
  left: 300px;
  transform: rotate(-20deg);
}

header h1 {
  text-align: center;
  text-shadow: -5px 5px 5px #444;
  padding: 20px 0;
  display: table-cell;
  vertical-align: middle;
}

header button {
  float: right;
  margin: 75px 5% 0 0;
}

nav {
  background: #bb954f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#eddfa3, #bb954f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eddfa3, #bb954f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eddfa3, #bb954f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eddfa3, #bb954f); /* Standard syntax */
  text-align: center;
  float: right;
  width: 100%;
  box-shadow: 0 10px 10px #999;
}

nav ul {
  margin: 2px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0px 30px;
  font-size: 1.7em;
}

/*///////////////////////       CONTAINER      ///////////////////////*/

.container {
  margin: 20% 10%;
  position: relative;
  box-shadow: 0 0 70px #999;
}

/*///////////////////////       SPECIAL OFFER      ///////////////////////*/
.special-offer {
  position: relative;
  text-align: center;
}

.left-price {
  float: left;
  padding: 30px;
  width: 50%;
  margin: 0;
}

#price {
  font-size: 3em;
  text-align: center;
  float: left;
}

#price::after {
  content: "  + tax";
  font-size: .3em;
}

.price-order button {
  float: right;
}

.left-price img {
  height: 100px;
  margin: 0;
}

.mjolnir-apple {
  position: relative;
  width: 50%;
  margin: 0;
}

.mjolnir-apple img {
  position: absolute;
  width: 100%;
}

.text-apple {
  position: absolute;
  right: 70px;
  top: 30px;
  text-align: center;
  font-size: .9em;
  font-family: 'Source Sans Pro', sans-serif;
}

#bind {
  width: 100%;
  text-align: center;
  background: #023d5f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#023d5f, #7ad2e0, #023d5f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#023d5f, #7ad2e0, #023d5f); /* Standard syntax */
  color: white;
  text-shadow: -5px 5px 5px #444;
}

/*///////////////////////            USES             ///////////////////////*/
.uses {
  position: relative;
}

.uses h2 {
  text-align: right;
  font-size: 2.5em;
  margin-right: 20px;
}

.uses img {
  width: 28%;
  margin: 2%;
  vertical-align: middle;
}

.uses ul {
  position: absolute;
  width: 30%;
  top: 35%;
  right: 0;
}

.uses li {
  margin-top: 5px;
  font-weight: 800;
}

.uses button {
  margin-top: 30px;
}

/*///////////////////////         SITUATIONS          ///////////////////////*/

.situations h1:first-child {
  text-align: center;
  color: #bb954f;
  font-size: 4em;
}

.situation {
  position: relative;
  width: 33%;
  padding: 2.5%;
  float: left;
  text-align: center;
}

.situation img {
  width: 100%;
}

.situation h1:last-child{
  margin: 4px 0;
  font-weight: 300;
  color: #023d5f;
}
